In [1]:
print(7-2*3) #1
print(7//2-3) #0
print(7/2*3) # 3.5*3=10.5
print(7%2+3)  #4

1
0
10.5
4

In [35]:
from sys import argv
sum=0
print(list(argv))

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\admin\\AppData\\Roaming\\jupyter\\runtime\\kernel-7ca4c73a-e508-452c-ba45-86d3dbec2e43.json']

In [37]:
x=3
x +=1
print(x**2)
print(x*4)

16
16

In [38]:
print(type(input("Enter number: ")))

Enter number: 10
<class 'str'>

In [39]:
print(type(input("Enter number: ")))

Enter number: 10.0
<class 'str'>

In [40]:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
    
print(a)

KeyboardInterrupt:

In [41]:
a='5'
b='2'
print(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
a='5'
b='2'
print(a*2)

55

In [44]:
a='5'
b='2'
print(a+b)

52

In [45]:
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [46]:
print(type(eval(input("Enter some value: "))))

Enter some value: 10
<class 'int'>

In [47]:
print(type(eval(input("Enter some value: "))))

Enter some value: 10.67
<class 'float'>

In [49]:
print(type(eval(input("Enter some value: "))))

Enter some value: 'python'
<class 'str'>

In [51]:
a=7
b=3
c=5
d=1

In [52]:
print(a%c+1)
print(a+d*2)
print(a+c//d)
print(c*d-1)

3
9
12
4

In [53]:
print(6//4%5+2**3-2//3)

9

In [54]:
x='TEXT'
print(x[0]+x[3])
print(x[0]+x[-1])
print(x[-1]+x[0])

TT
TT
TT

In [55]:
print(10==10 and 20!=20) #False
print(10==10 or 20!=20)  #True
print(not 10==10)         #False

False
True
False

In [56]:
a=float('123.456')
print(bool(a))
print(int(a)+False)
print(str(a))
print(bool(a)+True)

True
123
123.456
2

In [57]:
print(True + True)

2

In [58]:
print(False+True)

1

In [59]:
print(False+False)

0

In [63]:
distance=float(input('Enter the distance travelled in feet:'))
distance_miles=distance/5280
time=float(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print(velocity)

Enter the distance travelled in feet:12300
Enter the time elapsed in seconds:23400
0.3583916083916084

In [64]:
distance=float(input('Enter the distance travelled in feet:'))
distance_miles=distance/5280
time=int(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print(velocity)

Enter the distance travelled in feet:12300
Enter the time elapsed in seconds:23400
0.3583916083916084

In [1]:
total_items=int((input('How many items you required?')))
print(total_items)

How many items you required?3.4

ValueError: invalid literal for int() with base 10: '3.4'

In [3]:
total_items=int(float(input('How many items you required?')))
print(total_items)

How many items you required?34.5
34

In [10]:
print('r' in 'durga') # True

True

In [8]:
a=45
b=45
print(a is not b) #False

False

In [9]:
s1='The Python Course'
s2='The Python Course'.upper()
print(s1 is s2) #False

False

In [11]:
print('is' in 'This IS a Fake News')#True

True

In [7]:
x=[1,2,3]
y=[1,2,3]
print(x is y)#false

False

In [12]:
x=2
y=6
x+=2**3 # x=2+8=10
x//=y//2//3 # x=10//(6//2//3)
print(x)

10

In [17]:
count=int(input('Enter Count value:'))
print(count+1)

Enter Count value:12345
12346

In [18]:
count=eval(input("Enter count Value:"))
print(count+1)

Enter count Value12345
12346

In [19]:
count=input('Enter count value:')
print(count+1)

Enter count value:123456

TypeError: can only concatenate str (not "int") to str

In [20]:
count=input('Enter count value:')
print(int(count)+1)

Enter count value:12345
12346

In [22]:
t=([10,20],10,False)
x=type(t[1])
print(x)

<class 'int'>

In [23]:
t=([10,20],10,False)
x=type(t[0:])
print(x)

<class 'tuple'>

In [24]:
t=([10,20],10,False)
x=type(t[0])
print(x)

<class 'list'>

In [25]:
t=([10,20],10,False)
x=type(t)
print(x)

<class 'tuple'>

In [27]:
x=11/2
print(x)

5.5

In [29]:
x=22%5
print(x)

2

In [30]:
x=13//4
print(x)

3

In [31]:
x=3**2
print(x)

9

In [32]:
x=3/3+3**3-3
print(x)

25.0

In [33]:
result=str(bool(1)+float(10)/float(2))
print(result)

6.0

In [35]:
print('Enter Your name')
name=input()
print(name)

Enter Your name
Meenal
Meenal

In [37]:
type('') is <class 'bool'>

SyntaxError: invalid syntax (<ipython-input-37-faa76cabbe8f>, line 1)

In [38]:
True and False

False

In [39]:
True or False

True

In [40]:
5+False

5

In [41]:
True +1

2

In [42]:
print(not 0)
print(not 10)
print(not '')
print(not 'durga')
print(not None)

True
False
True
False
True

In [43]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2) #True
print(l1 != l2)# False
l1=l2
print(l1 is not l2)#False
print(l1 != l2)# False

True
False
False
False

In [44]:
x=2**2**2
print(type(x))

<class 'int'>

In [45]:
x='47'
print(type(x))

<class 'str'>

In [46]:
x=47.0
print(type(x))

<class 'float'>

In [47]:
x=10+20J
print(type(x))

<class 'complex'>

In [48]:
s='DURGA SOFT'
print(len(s.lstrip()))

10

In [49]:
print(len(s))

10

In [51]:
print(len(s.rstrip()))

10

In [52]:
print(len(s.strip()))

10

In [55]:
print(len(s.replace(" ",'')))
print(s.replace(' ',''))

9
DURGASOFT

In [57]:
b='BANANA'
print(b[1]+b[-1])
print(b[1]+b[3])
print(b[1]+b[5])
print(b[3]+b[5])
print(b[5]+b[3])
print(b[3]+b[-1])

AA
AA
AA
AA
AA
AA

In [59]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is l2) #false
print(l1==l2)#True
l1=l2
print(l1 is l2) #True
print(l1==l2)#True

False
True
True
True

In [63]:
v1=1
v2=0
v1=v1^v2 # v1=1^0 =1
v2=v1^v2 # v2= 1^0 =1
v1=v1^v2 # v1= 1^1=0
print(v1)

0

In [64]:
count=input("Enter the number of Bank Customer:")
output= int(count) +5
print(output)

Enter the number of Bank Customer:15
20

In [66]:
x='10'
y='20'
print(type(x+y))
print(x+y)

<class 'str'>
1020

In [67]:
s1= 'Bharat\n
        soft\n
        Solutions'
print(s1)

SyntaxError: EOL while scanning string literal (<ipython-input-67-05df19a90a6d>, line 1)

In [70]:
s1='''Bharat
        soft
        Solutions'''
print(s1)

Bharat
        soft
        Solutions

In [71]:
s1="Bharat
        soft
        Solutions"
print(s1)

SyntaxError: EOL while scanning string literal (<ipython-input-71-d74eec6a058f>, line 1)

In [75]:
lst=[7,8,9]
b=lst[:] #Slice operator create new object
print(b)
print(b is lst)
print(b==lst)

[7, 8, 9]
False
True

In [77]:
b=False +5 - True+35//4 # 0+5-1+8=12
b

12

In [81]:
s="Sachin Tendulkar is cricket's great player"
s

"Sachin Tendulkar is cricket's great player"

In [82]:
x=(7/2)+(False or True)+ (9%3) # 3.5+1+0=4.5
x

4.5

In [83]:
type(456+456.0)

float

In [86]:
name=input("Enter College name")
city=input("Enter City")
print('Welcome to {} in {}'.format(name,city))

Enter College namebharatsoft
Enter Citypune
Welcome to bharatsoft in pune